<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-text-center">
    <img src="assets\img\PERFIL KAUANA.jpg" alt="Foto de perfil" />
    <ion-card-header>
      <ion-card-title>Olá, eu sou Kauana Menin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Estudante/desenvolvedora. Aqui você pode conhecer mais sobre mim!
    </ion-card-content>
  </ion-card>
</ion-content>
