<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <ion-avatar style="margin: auto; width: 150px; height: 150px;">
      <img src="assets\img\PERFIL KAUANA.jpg" alt="Foto de Kauana Menin" />
    </ion-avatar>
    <h2 style="text-align: center;">Kauana Menin</h2>
    <div style="max-width: 400px; text-align: justify; margin-top: 16px;">
      <p>Curso Análise e Desenvolvimento de Sistemas na UPF e me identifico com o desenvolvimento front-end. Gosto de
        explorar ferramentas e tecnologias que envolvem interface e experiência do usuário. Estou sempre buscando
        aprender e evoluir na área, focando no aperfeiçoamento das minhas habilidades técnicas.
      </p>
    </div>
  </div>
</ion-content>